.overlay
    position: fixed
    top: 0px
    left: 0px
    width: 100vw
    height: 100vh
    display: flex
    align-items: center
    justify-content: center
    background-color: rgba(#fafafa, 0.8)

.menu
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap
    flex-direction: column
    padding: 20px
    background-color: rgba(#333, 0.8)
    border-radius: 20px

    select
    input
        margin-left: 4px

    &-icon
        margin-right: 4px

    &-item
        width: 100%
        display: flex
        justify-content: center
        align-items: center
        margin-top: 4px
        margin-bottom: 4px

        &:last-child
            margin-bottom: 0px

hr
    width: 100%

.link
    cursor: pointer
    transition: color 300ms ease-in-out

    &:hover
        color: rgba(#ccc, 0.6)

.v-enter-active
.v-leave-active
    transition: opacity 0.5s ease;

.v-enter-from
.v-leave-to
    opacity: 0;