.popup
    &--overlay
        width: 100%
        height: 100%
        position: fixed
        top: 0px
        left: 0px
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        background-color: var(--black, #000)

    &--glare
        position: relative
        box-shadow: inset 0px 20px 20px -10px rgba(white, 0.3), inset 0px -20px 20px -10px rgba(black, 0.3)

        &:before
            content: ''
            position: absolute
            top: 20px
            left: 15px
            width: 10px
            height: 10px
            background-color: rgba(white, 0.2)
            border-radius: 50%

    &--main
        max-width: 780px
        width: 100%
        box-sizing: border-box
        border-radius: 20px
        border: 5px solid #222
        padding: 40px
        background-color: var(--orange, #E77812)
        display: flex
        flex-direction: column

        @media(max-width 767px)
            max-width: unset
            padding: 20px
            width: 90%
            max-height: 90%
            border: 2px solid #222

        @media(max-height 900px)
            padding: 20px
            border: 2px solid #222

    &--scroll
        margin-bottom: 40px

        @media(max-width 767px)
            overflow: auto
            margin-bottom: 20px

        @media(max-height 900px)
            overflow: auto
            margin-bottom: 20px

    &--title
        font-size: 46px
        line-height: 50px
        margin-bottom: 20px

        @media(max-width 767px)
            margin-bottom: 10px
            font-size: 32px
            line-height: 36px

        @media(max-height 900px)
            margin-bottom: 10px
            font-size: 32px
            line-height: 36px

    &--desc
        font-size: 20px
        line-height: 24px
        margin-bottom: 40px
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
        text-align: justify
        hyphens: auto

        &:last-child
            margin-bottom: 0px

        @media(max-width 767px)
            margin-bottom: 20px

        @media(max-height 900px)
            margin-bottom: 20px

    &--buttons
        width: 100%
        display: flex
        justify-content: center
        align-items: center

    &--button
        font-size: 52px
        line-height: 56px
        padding: 16px 32px
        border-radius: 10px
        border: 2px solid #222
        cursor: pointer
        -webkit-text-stroke: 1px var(--black, #000);
        transition: background-color 300ms ease-in-out

        @media(max-width 767px)
            padding: 8px 16px
            font-size: 26px
            line-height: 30px

        @media(max-height 900px)
            padding: 8px 16px
            font-size: 26px
            line-height: 30px

        &--red
            background-color: red

            &:hover
                background-color: rgba(red, 0.6)

        &--green
            background-color: lime

            &:hover
                background-color: rgba(lime, 0.6)

    &--checkbox
        width: 100%
        align-items: center
        justify-content: center
        display: flex
        margin-bottom: 20px

        @media(max-width 768px)
            margin-bottom: 10px

        @media(max-height 900px)
            margin-bottom: 10px

        &--title
            font-size: 20px
            line-height: 26px
            margin-right: 10px
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
            -webkit-text-stroke: 1px #fff

            @media(max-width 768px)
                font-size: 14px
                line-height: 20px
                margin-right: 6px

            @media(max-height 900px)
                font-size: 14px
                line-height: 20px
                margin-right: 6px

        &--input
            width: 20px
            height: 20px

    &--selector
        width: 100%
        display: flex
        align-items: center
        justify-content: space-between
        flex-wrap: nowrap
        margin-bottom: 20px

        &--centered
            justify-content: center
            margin-top: 20px

        &.focused
            background-color: rgba(blue, 0.1)

        &:last-child
            margin-bottom: 0px

        &--prev
            border-left: solid 0px transparent
            border-right: solid 52px #222
            border-top: solid 26px transparent
            border-bottom: solid 26px transparent
            position: relative
            cursor: pointer
            margin-right: 8px
            box-shadow: inset 0px 20px 20px -10px rgba(white, 0.3), inset 0px -20px 20px -10px rgba(black, 0.3)

            @media(max-width 767px)
                transform: scale(0.7)

            @media(max-height 900px)
                transform: scale(0.7)

            &:before
                content: ""
                position: absolute
                top: -50%
                left: -50%
                border-left: solid 0px transparent
                border-right: solid 44px var(--orange, #E77812)
                border-top: solid 20px transparent
                border-bottom: solid 20px transparent
                transform: translate(5px, -50%)

            &:hover
                &:before
                    border-right: solid 44px rgba(#E77812, 0.6)

        &--next
            border-left: solid 52px #222
            border-right: solid 0px transparent
            border-top: solid 26px transparent
            border-bottom: solid 26px transparent
            position: relative
            cursor: pointer
            margin-left: 8px
            box-shadow: inset 0px 20px 20px -10px rgba(white, 0.3), inset 0px -20px 20px -10px rgba(black, 0.3)

            @media(max-width 767px)
                transform: scale(0.7)

            @media(max-height 900px)
                transform: scale(0.7)

            &:before
                content: ""
                position: absolute
                top: 0px
                left: 0px
                border-left: solid 44px var(--orange, #E77812)
                border-right: solid 0px transparent
                border-top: solid 20px transparent
                border-bottom: solid 20px transparent
                transform: translate(calc(-100% - 5px), -50%)

            &:hover
                &:before
                    border-left: solid 44px rgba(#E77812, 0.6)

        &--value
            box-sizing: border-box
            border-radius: 20px
            border: 5px solid #222
            padding: 8px 16px
            background-color: var(--orange, #E77812)
            font-size: 36px
            line-height: 36px
            -webkit-text-stroke: 1px var(--black, #000)
            position: relative
            box-shadow: inset 0px 20px 20px -10px rgba(white, 0.3), inset 0px -20px 20px -10px rgba(black, 0.3)

            @media(max-width 767px)
                border-radius: 10px
                padding: 8px
                border: 2px solid #222
                font-size: 20px
                line-height: 24px

            @media(max-height 900px)
                border-radius: 10px
                padding: 8px
                border: 2px solid #222
                font-size: 20px
                line-height: 24px

            &:before
                content: ''
                position: absolute
                top: 20px
                left: 15px
                width: 10px
                height: 10px
                background-color: rgba(white, 0.2)
                border-radius: 50%

                @media(max-width 768px)
                    display: none

                @media(max-height 900px)
                    display: none

.accept-enter-active
.accept-leave-active
    transition: opacity 0.5s ease;

.accept-enter-from
.accept-leave-to
    opacity: 0;