.menu
    &--overlay
        width: 100%
        height: 100%
        display: flex
        justify-content: center
        align-items: center
        position: fixed
        top: 0px
        left: 0px
        background-color: cyan
        z-index: 100500
        transition: background-color 700ms ease-in-out

    &--end
        background-color: #FF0000B2

    &--started
        background-color: rgba(0, 0, 0, 0.2)

    &--main
        width: 100%
        box-sizing: border-box
        border-radius: 20px
        border: 5px solid #222
        padding: 40px 40px 20px 40px
        background-color: var(--orange, #E77812)
        -webkit-text-stroke: 1px var(--black, #000)
        max-width: 700px
        margin: 20px
        max-height: calc(100% - 40px)
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

        @media(max-width 767px)
            border: 2px solid #222
            width: 95%
            padding: 20px

    &--scroll
        width: 100%
        overflow: auto
        box-sizing: border-box

        &--overflow
            padding-right: 10px

    &--divider
        margin-top: 20px
        margin-bottom: 20px
        width: 100%
        height: 4px
        background-color: yellow
        border-radius: 2px
        box-sizing: border-box
        -webkit-text-stroke: unset

    &--logo
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        margin-bottom: 10px

        img
            width: 100%
            max-width: 500px

            @media(max-width 767px)
                max-width: 300px

            @media(max-height 900px)
                max-width: 300px

    &--title
        font-size: 56px
        line-height: 56px
        margin-bottom: 20px

        @media(max-width 767px)
            font-size: 30px
            line-height: 30px

        @media(max-height 900px)
            font-size: 30px
            line-height: 30px

    &--subtitle
        font-size: 40px
        line-height: 40px
        margin-bottom: 20px

        @media(max-width 767px)
            font-size: 24px
            line-height: 24px
            margin-bottom: 10px

        @media(max-height 900px)
            font-size: 24px
            line-height: 24px
            margin-bottom: 10px

    &--text
        width: 100%
        min-height: 60px
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
        font-weight: 500
        font-size: 30px
        line-height: 30px
        -webkit-text-stroke: initial

        @media(max-width 767px)
            min-height: unset
            font-size: 20px
            line-height: 24px

        @media(max-height 900px)
            min-height: unset
            font-size: 20px
            line-height: 24px

    &--label
        font-size: 36px
        line-height: 36px
        margin-right: 10px
        text-align: justify

        @media(max-width 767px)
            font-size 20px
            line-height: 24px

        @media(max-height 900px)
            font-size 20px
            line-height: 24px

    &--empty
        width: 100%
        height: 60px
        margin-bottom: 20px

        @media(max-width 767px)
            height: 40px

        @media(max-height 900px)
            height: 40px

    &--selector
        width: 100%
        display: flex
        align-items: center
        justify-content: space-between
        flex-wrap: nowrap
        margin-bottom: 20px

        &--centered
            justify-content: center
            margin-top: 20px

        &.focused
            background-color: rgba(blue, 0.1)

        &:last-child
            margin-bottom: 0px

        &--prev
            border-left: solid 0px transparent
            border-right: solid 52px #222
            border-top: solid 26px transparent
            border-bottom: solid 26px transparent
            position: relative
            cursor: pointer
            margin-right: 8px
            box-shadow: inset 0px 20px 20px -10px rgba(white, 0.3), inset 0px -20px 20px -10px rgba(black, 0.3)

            @media(max-width 767px)
                transform: scale(0.7)

            @media(max-height 900px)
                transform: scale(0.7)

            &:before
                content: ""
                position: absolute
                top: -50%
                left: -50%
                border-left: solid 0px transparent
                border-right: solid 44px var(--orange, #E77812)
                border-top: solid 20px transparent
                border-bottom: solid 20px transparent
                transform: translate(5px, -50%)

            &:hover
                &:before
                    border-right: solid 44px rgba(#E77812, 0.6)

        &--next
            border-left: solid 52px #222
            border-right: solid 0px transparent
            border-top: solid 26px transparent
            border-bottom: solid 26px transparent
            position: relative
            cursor: pointer
            margin-left: 8px
            box-shadow: inset 0px 20px 20px -10px rgba(white, 0.3), inset 0px -20px 20px -10px rgba(black, 0.3)

            @media(max-width 767px)
                transform: scale(0.7)

            @media(max-height 900px)
                transform: scale(0.7)

            &:before
                content: ""
                position: absolute
                top: 0px
                left: 0px
                border-left: solid 44px var(--orange, #E77812)
                border-right: solid 0px transparent
                border-top: solid 20px transparent
                border-bottom: solid 20px transparent
                transform: translate(calc(-100% - 5px), -50%)

            &:hover
                &:before
                    border-left: solid 44px rgba(#E77812, 0.6)

        &--value
            box-sizing: border-box
            border-radius: 20px
            border: 5px solid #222
            padding: 8px 16px
            background-color: var(--orange, #E77812)
            font-size: 36px
            line-height: 36px
            -webkit-text-stroke: 1px var(--black, #000)
            position: relative
            box-shadow: inset 0px 20px 20px -10px rgba(white, 0.3), inset 0px -20px 20px -10px rgba(black, 0.3)

            @media(max-width 767px)
                border-radius: 10px
                padding: 8px
                border: 2px solid #222
                font-size: 20px
                line-height: 24px

            @media(max-height 900px)
                border-radius: 10px
                padding: 8px
                border: 2px solid #222
                font-size: 20px
                line-height: 24px

            &:before
                content: ''
                position: absolute
                top: 20px
                left: 15px
                width: 10px
                height: 10px
                background-color: rgba(white, 0.2)
                border-radius: 50%

                @media(max-width 768px)
                    display: none

                @media(max-height 900px)
                    display: none

    &--item
    &--button
        width: 100%
        padding: 8px 16px
        font-size: 52px
        line-height: 56px
        margin-bottom: 20px
        box-sizing: border-box
        border-radius: 20px
        border: 5px solid #222
        background-color: yellow
        -webkit-text-stroke: 1px var(--black, #000)
        cursor: pointer
        transition: background-color 300ms ease-in-out
        position: relative
        box-shadow: inset 0px 20px 20px -10px rgba(white, 0.3), inset 0px -20px 20px -10px rgba(black, 0.3)

        span
            transform: translateY(0px)

            @media(max-width 768px)
                transform: translateY(4px)

            @media(max-height 900px)
                transform: translateY(4px)

        @media(max-width 767px)
            border: 2px solid #222
            font-size: 30px
            line-height: 30px
            margin-bottom: 10px

        @media(max-height 900px)
            border: 2px solid #222
            font-size: 30px
            line-height: 30px
            margin-bottom: 10px

        &:before
            content: ''
            position: absolute
            top: 20px
            left: 15px
            width: 10px
            height: 10px
            background-color: rgba(white, 0.2)
            border-radius: 50%

        &.focused,
        &:hover
            background-color: rgba(yellow, 0.6)

        &:last-child
            margin-bottom: 0px

        &--new
            background-color: green

            &.focused,
            &:hover
                background-color: rgba(green, 0.6)

        &--red
            background-color: red

            &.focused,
            &:hover
                background-color: rgba(red, 0.6)

    &--item
        display: flex
        align-items: center
        justify-content: center

        &--icon
            font-size: 40px
            line-height: 40px
            width: 40px
            height: 40px
            margin-right: 8px

    &--version
        font-size: 16px
        line-height: 18px
        margin-bottom: 10px

    // &--button
    //     margin-bottom: 0px
    //     margin-right: 20px

    //     &:last-child
    //         margin-right: 0px

    &--buttons
        width: 100%
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        margin-bottom: 20px
        margin-top: 20px

        &:last-child
            margin-bottom: 0px

    &--columns
        width: 100%
        display: flex
        align-items: stretch
        justify-content: stretch
        flex-wrap: wrap

    &--achievement
        width: calc(100% / 2 - 10px)
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        margin-bottom: 10px
        margin-right: 10px
        padding: 10px
        border: 2px solid var(--black, #000)
        border-radius: 20px
        box-sizing: border-box
        background-color: #c3c0b5
        box-shadow: inset 0px 20px 20px -10px rgba(white, 0.3), inset 0px -20px 20px -10px rgba(black, 0.3)

        &--earned
            background-color: #E7C512

        @media(max-width 768px)
            width: 100%
            margin-right: 0px

        &:before
            content: ""
            position: absolute
            top: -50%
            left: -50%
            border-left: solid 0px transparent
            border-right: solid 44px var(--orange, #E77812)
            border-top: solid 20px transparent
            border-bottom: solid 20px transparent
            transform: translate(5px, -50%)

        &--icon
            width: 30px
            heightL 30px
            font-size: 30px
            line-height: 30px
            margin-right: 10px

        &--row
            display: flex
            justify-content: center
            align-items: center

        &--title
            font-size: 24px
            line-height: 28px
            // margin-bottom: 8px

        &:nth-child(2n)
            margin-right: 0px

    &--assets
        display: flex
        align-items: center
        justify-content: flex-start
        flex-wrap: wrap
        font-size: 16px
        line-height: 18px
        margin-bottom: 8px

        &:last-child
            margin-bottom: 0px

        &--link
            color: white
            -webkit-text-stroke: 1px var(--black, #000)
            margin-right: 8px

            &:last-child
                margin-right: 0px

        &--author
            margin-right: 10px

        &--title
            font-size: 32px
            line-height: 32px
            margin-top: 16px
            margin-bottom: 16px

            @media(max-width 768px)
                font-size: 20px
                line-height: 24px

            @media(max-height 900px)
                font-size: 20px
                line-height: 24px

        &--desc
            margin-top: 10px

    &--link
        display: block
        text-align: left
        font-size: 32px
        line-height: 32px
        color: white
        -webkit-text-stroke: 1px var(--black, #000)
        margin-bottom: 10px

        @media(max-width 768px)
            font-size: 20px
            line-height: 24px

        @media(max-height 900px)
            font-size: 20px
            line-height: 24px

    &--range
        -webkit-appearance: none
        appearance: none
        background: transparent
        cursor: pointer
        width: 15rem

        &:focus
            outline: none

        &::-webkit-slider-runnable-track
            background-color: var(--light-orange, #ffa500)
            border-radius: 0.5rem
            height: 1rem
            border: 2px solid var(--black, #000)

        &::-webkit-slider-thumb
            -webkit-appearance: none
            appearance: none
            margin-top: -12px

            background-color: var(--light-orange, #ffa500)
            height: 2rem
            width: 1rem

        &:focus::-webkit-slider-thumb
            border: 2px solid var(--black, #000)
            outline: 3px solid var(--light-orange, #ffa500)
            outline-offset: 0.125rem

        &::-moz-range-track
            background-color: var(--light-orange, #ffa500)
            border-radius: 0.5rem
            height: 0.5rem

        &::-moz-range-thumb
            border: none
            border-radius: 0

            background-color: var(--orange, #E77812)
            height: 2rem
            width: 1rem

        &:focus::-moz-range-thumb
            border: 2px solid var(--black, #000)
            outline: 3px solid var(--light-orange, #ffa500)
            outline-offset: 0.125rem

    &--dots
        width: 100%
        display: flex
        justify-content: space-between
        position: relative
        margin-right: 10px

    &--dotline
        width: calc(100% - 30px)
        height: 6px
        background-color: #F6DD58
        border: 2px solid #E7C512
        border-radius: 4px
        position: absolute
        top: calc(15px - 4px)
        left: 15px
        z-index: 0

        @media(max-width 768px)
            height: 4px
            width: calc(100% - 20px)
            left: 10px
            top: calc(10px - 4px)

        @media(max-height 900px)
            height: 4px
            width: calc(100% - 20px)
            left: 10px
            top: calc(10px - 4px)

    &--dot
        width: 20px
        height: 20px
        background-color: #F6DD58
        border: 5px solid #E7C512
        border-radius: 50%
        cursor: pointer
        z-index: 10

        @media(max-width 768px)
            width: 16px
            height: 16px
            border: 2px solid #E7C512

        @media(max-height 900px)
            width: 16px
            height: 16px
            border: 2px solid #E7C512

        &--active
            background-color: #E77812
            border: 5px solid #000000

            @media(max-width 768px)
                border: 2px solid #000000

            @media(max-height 900px)
                border: 2px solid #000000

    &--selector-vertical
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        padding: 8px
        background-color: var(--orange, #E77812)
        box-shadow: inset 0px 20px 20px -10px rgba(white, 0.3), inset 0px -20px 20px -10px rgba(black, 0.3)
        position: relative
        border-radius: 20px
        border: 5px solid #222
        box-sizing: border-box

        &--value
        &--span
        .material-symbols-outlined
            -webkit-text-stroke: 1px var(--black, #000)
            font-size: 36px
            line-height: 36px

            @media(max-width 767px)
                font-size: 20px
                line-height: 24px

            @media(max-height 900px)
                font-size: 20px
                line-height: 24px

        .material-symbols-outlined
            cursor: pointer
            transform: scale(1)
            transition: transform 300ms ease-on-out

            &:hover
                transform: scale(1.2)

        &--value
            margin-top: 8px
            margin-bottom: 8px

        @media(max-width 767px)
            border-radius: 10px
            padding: 8px
            border: 2px solid #222
            font-size: 20px
            line-height: 24px

        @media(max-height 900px)
            border-radius: 10px
            padding: 8px
            border: 2px solid #222
            font-size: 20px
            line-height: 24px

        &:before
            content: ''
            position: absolute
            top: 20px
            left: 15px
            width: 10px
            height: 10px
            background-color: rgba(white, 0.2)
            border-radius: 50%

            @media(max-width 768px)
                display: none

            @media(max-height 900px)
                display: none