.main
    width: 100vw
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    box-sizing: border-box

.container
    width: 100%
    height: 100%
    box-sizing: border-box

.pit-size-select
    position: fixed
    top: 4px
    right: 4px

.menu-button,
.pause-button,
.play-button,
.score-button
    position: fixed
    padding: 10px
    background-color: rgba(#333, 0.8)
    border-radius: 20px
    user-select: none

.menu-button
    top: 10px
    right: 10px

.score-button
    top: 10px
    left: 10px

.pause-button,
.play-button
    bottom: 10px
    left: 10px

.controls
    width: 100%
    height: 100%
    position: fixed
    top: 0px
    left: 0px

.control-item
    width: 60px
    height: 60px
    border-radius: 4px
    position: fixed
    background-color: rgba(#ccc, 0.3)
    cursor: pointer
    display: flex
    justify-content: center
    align-items: center
    transition: background-color 300ms ease-in-out

    &:hover
        background-color: rgba(#ccc, 0.8)

    &-left
        top: calc(50% - 30px)
        left: 0px

        &--first
            top: calc(50% - 120px)
            left: 0px

        &--last
            top: calc(50% + 60px)
            left: 0px

    &-right
        top: calc(50% - 30px)
        right: 0px

        &--first
            top: calc(50% - 120px)
            right: 0px

        &--last
            top: calc(50% + 60px)
            right: 0px

    &-top
        &--first
            top: 0px
            left: calc(50% - 120px)

        &--last
            top: 0px
            left: calc(50% + 60px)

    &-bottom
        &--first
            bottom: 0px
            left: calc(50% - 120px)

        &--last
            bottom: 0px
            left: calc(50% + 60px)

    &--drop
        top: calc(50% - 30px)
        right: 120px

        @media(max-aspect-ratio 2/3)
            top: unset
            right: unset
            bottom: 60px
            left: calc(50% - 30px)