.main
    width: 100vw
    height: 100vh
    min-height: -webkit-fill-available
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    box-sizing: border-box
    position: fixed
    top: 0px
    left: 0px

    @media not all and (hover:hover) {
        height: var(--app-height);
    }

.container
    width: 100%
    height: 100%
    box-sizing: border-box
    position: relative

    // &--controls
    //     height: 60%

.pit-size-select
    position: fixed
    top: 4px
    right: 4px

.dev-buttons
    position: fixed
    bottom: 10px
    left: 10px
    display: flex
    justify-content: space-between
    align-items: center

.dev-button
    background-color: rgba(#333, 0.8)
    color: #fff
    border-radius: 20px
    padding: 10px
    margin-right: 10px
    cursor: pointer
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out

    &:hover
        color: #000
        background-color: rgba(#333, 0.4)

    &:last-child
        margin-right: 0px

.dev-menu
    position: fixed
    padding: 10px
    background-color: rgba(#333, 0.8)
    border-radius: 20px
    bottom: 10px
    right: 10px
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: flex-start

    @media(max-width 768px)
        bottom: calc(40% + 10px)

.navigation
    width: calc(100% - 20px)
    position: fixed
    top: 10px
    left: 10px
    display: flex
    align-items: center
    justify-content: center

    @media(max-width 767px)
        flex-wrap: wrap
        width: calc(100% - 44px - 10px * 2 - 4px)

    &--item
        font-size: 40px
        line-height: 40px
        box-sizing: border-box
        border-radius: 20px
        border: 5px solid #222
        padding: 8px 16px
        background-color: #e7c335
        -webkit-text-stroke: 1px var(--black, #000)
        margin-right: 10px
        transition: background-color 300ms ease-in-out
        cursor: pointer
        position: relative
        box-shadow: inset 0px 20px 20px -10px rgba(white, 0.3), inset 0px -20px 20px -10px rgba(black, 0.3)
        transition: background-color 2s
        position: relative

        @media(max-width 767px)
            border: 2px solid #222
            font-size: 18px
            line-height: 24px
            // margin-right: 0px
            padding: 4px 10px

        &:before
            content: ''
            position: absolute
            top: 20px
            left: 15px
            width: 10px
            height: 10px
            background-color: rgba(white, 0.2)
            border-radius: 50%

            @media(max-width 768px)
                display: none

        &:last-child
            margin-right: 0px

            @media(max-width 768px)
                margin-top: 4px

        &--score-blinking
            animation: score-blinker 2s linear infinite

        &--blinking
            animation: blinker 2s linear infinite

        &--inc
            position: absolute
            top: calc(66px + 20px)
            left: 50%
            // color: #FF4C4C
            transform: translateX(-50%)

            &--yellow
                color: #fafa0c

            &--red
                color: #fa140c

    &--menu
        position: fixed
        top: 10px
        right: 10px
        padding: 8px
        font-size: 0px
        line-height: 0px

        &:hover
            background-color: #b99816

.levels
    position: absolute
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    top: 50%
    left: 50px
    transform: translateY(-50%)
    background-color: #e7c335
    padding: 10px
    border-radius: 20px
    border: 5px solid #222
    z-index: 0

    @media(max-width 768px)
        width: 30px
        // width: 95%
        padding: 4px
        border: 2px solid #222
        // flex-direction: row
        // flex-wrap: nowrap
        top: 50%
        left: 8px
        transform: translateY(-50%)

.level-item
    width: 60px
    // width: 60px
    // height: 60px
    box-sizing: border-box
    border-radius: 20px
    border: 5px solid #222
    background-color: #e7c335
    -webkit-text-stroke: 1px var(--black, #000)
    transition: background-color 300ms ease-in-out
    cursor: pointer
    position: relative
    box-shadow: inset 0px 20px 20px -10px rgba(white, 0.3), inset 0px -20px 20px -10px rgba(black, 0.3)
    margin-bottom: 2px
    aspect-ratio: 1

    @media(max-height 920px)
        width: 40px
        padding: 8px

    @media(max-height 600px)
        width: 30px
        padding: 4px

    @media(max-width 768px)
        width: 100%
        max-width: 40px
        margin-bottom: 0px
        border: 2px solid #222
        // width: 30px
        // height: 30px
        margin-right 2px

    &:last-child
        margin-bottom: 0px

        @media(max-width 768px)
            margin-right: 0px

.error
    &-overlay
        position fixed
        top: 0
        left: 0
        width: 100%
        height: 100%
        display: flex
        align-items: center
        justify-content: center
        background-color: rgba(red, 0.6)
        z-index: 100500

    &-text
        font-size: 50px
        line-height: 56px

@keyframes blinker
  50%
    background-color: #FF4C4C

@keyframes score-blinker
  50%
    background-color: #22ff03

.slide-up-enter-active
    transition: all 0.3s ease-out

.slide-up-enter-from,
.slide-up-leave-to
    transform: translateX(-50%) translateY(50%)
    opacity: 0