.achievement-popup
    position: fixed
    left: 50%
    top: 20px
    transform: translateX(-50%)
    z-index: 100500
    background-color: var(--orange, #E77812)
    box-sizing: border-box
    border-radius: 20px
    border: 5px solid #222
    -webkit-text-stroke: 1px var(--black, #000)
    padding: 20px
    box-shadow: inset 0px 20px 20px -10px rgba(white, 0.3), inset 0px -20px 20px -10px rgba(black, 0.3)

    &:before
        content: ''
        position: absolute
        top: 20px
        left: 15px
        width: 10px
        height: 10px
        background-color: rgba(white, 0.2)
        border-radius: 50%

    &--icon
        width: 50px
        heightL 50px
        font-size: 50px
        line-height: 50px
        margin-bottom: 10px

        @media(max-width 768px)
            width: 24px
            height: 24px
            font-size: 24px
            line-height: 24px

    &--title
        font-size: 26px
        line-height: 30px
        margin-bottom: 8px

        @media(max-width 768px)
            font-size: 20px
            line-height: 24px

.fade-enter-active,
.fade-leave-active
    transform: translateX(-50%)
    transition: opacity 0.5s ease, transform 0.5s ease

.fade-enter-from,
.fade-leave-to
    opacity: 0;
    transform: translateX(-50%) translateY(-50%)